body {
    position: relative;
    background: #111111;
    color: lightgrey;
    text-align: center;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold
}

h1 {
    text-align: center;
}

button {
    font-size: 1.2rem;
    font-family: inherit;
    margin: 5px;
    background: #002ac3;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #2d2d2d;
    transition: all 0.2s ease 0s;
    outline: none;
}

button:hover {
    color: #e57100;
    background: #3d4dae;
    transition: all 0.3s ease 0s;
}

.wrapper {
    display: flex;
    width: 420px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    grid-template-columns: 420px;
    grid-gap: 20px;
    grid-template-rows: 600px;
}

.item {
    background: #696969;
    border-radius: 30px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#avatar {
    position: absolute;
    top: 35%;
    left: 27%;
    width: 46%;
    z-index: 0;
}

#properties {
    color: black;
    position: absolute;
    top: 67%;
    width: 50%;
    left: 25%;
}

.controls {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: stretch;
    margin: 0 auto;
    align-self: center;
}



.protoBtn {
    margin: 20px;
    width: 120px;
    height: 80px;
    padding: 10px;
}

.active {
    background: #ffb300;
    color: #404040;
}

.link {
    font-size: 70%;
    float: bottom;
    color: #111;
}

.propValue {
    font-size: 110%;
    color: #070234;
}