p {
    margin-bottom: 2.5rem;
}

h1 {
    text-align: center;
}

.bullet {

    margin: .25rem 0;
    font-size: 3.75rem;
    color: #f9f9f9;
    text-align: center;
}

img {
    object-fit: contain;
    -o-object-fit: contain;
    max-width: 100%;
    margin: auto;
    transition: opacity .75s ease-out;
    -webkit-transition: opacity .75s ease-out;
}

.loading {
     opacity: .3;
     transition-delay: .2s;
 }

.content-item {
    min-height: 100vh;
    padding: 0 2.5rem;
}