p {
    margin-bottom: 2.5rem;
}

h1 {
    text-align: center;
}

.bullet {
    margin: .25rem 0;
    font-size: 3.75rem;
    color: #f9f9f9;
    text-align: center;
}

img {
    max-width: 100%;
    margin: auto;
    transition: opacity .75s ease-out;
    -webkit-transition: opacity .75s ease-out;
}

.loading {
     opacity: .3;
     transition-delay: .2s;
 }

.content-item {
    min-height: 100vh;
    padding: 0 2.5rem;
}

.info {
    position: fixed;
    right: 35px;
    padding: 5px 25px;
    background: #ef0501;
    border-radius: 15px;
}

.x-center img {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 370px;
}
.y-center img {
    display: block;
    margin: 35px auto;
}