body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.romb {
    position: absolute;
    width: 150px;
    height: 150px;
    cursor: move;
    box-sizing: border-box;
    transform: rotate(45deg)
}

.romb:hover {
    filter: saturate(.5);
}

.romb[value="off"] {
    border: 3px dashed #000000;
}

.romb[value="off"]:hover {
    filter: none;
}

.romb:nth-child(1) {
    background-color: #d63b53;
    top: 387px;
    left: 662px;
}

.romb:nth-child(2) {
    background-color: #a64dd7;
    top: 169px;
    left: 610px;
}

.romb:nth-child(3) {
    background-color: #45d864;
    top: 199px;
    left: 267px;
}

.romb:nth-child(4) {
    background-color: #d7577b;
    top: 531px;
    left: 335px;
}

.romb:nth-child(5) {
    background-color: #d7c451;
    top: 31px;
    left: 338px;
}

.romb:nth-child(6) {
    background-color: #0984d7;
    top: 341px;
    left: 419px;
}